@use '../../../../styles/playground-base.scss';

.preview {
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
  margin-bottom: 32px;
}
.preview {
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.preview-stage {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  box-sizing: border-box;
}

.playground-controls {
  max-width: 450px;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  ui-button {
    flex: 1;
  }
}
