.demo-grid {
  &.col-2 {
      grid-template-columns: repeat(2, 1fr);
  }
  
  &.col-3 {
      grid-template-columns: repeat(3, 1fr);
  }
}

.preview-box {
  min-height: 200px;
  align-items: flex-start;

  &.tab-demo {
    min-height: 300px;
    padding: 0;
    overflow: hidden;
  }
}

