<pg-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-global" class="control-grid pg-panel-container">
    <div class="control-group">
      <label>Layout</label>
      <dui-dropdown
        name="layout"
        [(ngModel)]="pgConfig.layout"
        (ngModelChange)="updateConfig()"
        [options]="layoutOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Grid Columns</label>
      <dui-input
        name="columns"
        type="number"
        min="1"
        max="4"
        [(ngModel)]="pgConfig.columns"
        (ngModelChange)="updateConfig()"
        [disabled]="pgConfig.layout !== 'grid'"
      ></dui-input>
    </div>

    <div class="control-group">
      <label>Selection Mode</label>
      <dui-dropdown
        name="selectionMode"
        [(ngModel)]="pgConfig.selectionMode"
        (ngModelChange)="updateConfig()"
        [options]="selectionModeOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Size</label>
      <dui-dropdown
        name="size"
        [(ngModel)]="pgConfig.size"
        (ngModelChange)="updateConfig()"
        [options]="fullSizeOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Color</label>
      <dui-dropdown
        name="color"
        [(ngModel)]="pgConfig.color"
        (ngModelChange)="updateConfig()"
        [options]="standardColorOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Variant</label>
      <dui-dropdown
        name="variant"
        [(ngModel)]="pgConfig.variant"
        (ngModelChange)="updateConfig()"
        [options]="variantOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Elevation (0-5)</label>
      <dui-input
        name="elevation"
        type="number"
        min="0"
        max="5"
        [(ngModel)]="pgConfig.elevation"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>

    <div class="control-group">
      <label>Thumb Shape</label>
      <dui-dropdown
        name="thumbShape"
        [(ngModel)]="pgConfig.thumbShape"
        (ngModelChange)="updateConfig()"
        [options]="thumbShapeOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Label</label>
      <dui-input
        name="label"
        type="text"
        [(ngModel)]="pgConfig.label"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>

    <div class="control-group">
      <label>Helper Text</label>
      <dui-input
        name="helperText"
        type="text"
        [(ngModel)]="pgConfig.helperText"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>

    <div class="control-group">
      <label>Label Position</label>
      <dui-dropdown
        name="labelPosition"
        [(ngModel)]="pgConfig.labelPosition"
        (ngModelChange)="updateConfig()"
        [options]="labelPositionOptions"
      ></dui-dropdown>
    </div>

    <div class="control-group">
      <label>Orientation</label>
      <dui-dropdown
        name="orientation"
        [(ngModel)]="pgConfig.orientation"
        (ngModelChange)="updateConfig()"
        [options]="standardOrientationOptions"
      ></dui-dropdown>
    </div>
  </div>

  <!-- Behavioral States -->
  <div slot="content-states" class="pg-panel-container">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <dui-checkbox
          name="showIcons"
          [(ngModel)]="pgConfig.showIcons"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Show Icons
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          name="disabled"
          [(ngModel)]="pgConfig.disabled"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Disabled
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          name="readonly"
          [(ngModel)]="pgConfig.readonly"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Readonly
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          name="required"
          [(ngModel)]="pgConfig.required"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Required
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          name="invalid"
          [(ngModel)]="pgConfig.invalid"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Invalid
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          name="animation"
          [(ngModel)]="pgConfig.animation"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Animation
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          name="skeleton"
          [(ngModel)]="pgConfig.skeleton"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Skeleton
      </label>
    </div>
  </div>

  <div preview class="preview-stage h-scrollable">
    <div class="toggle-container">
      <app-toggle-group
        #toggleGroup
        [options]="playgroundOptions"
        [attr.layout]="pgConfig.layout"
        [attr.columns]="pgConfig.columns"
        [attr.selection-mode]="pgConfig.selectionMode"
        [attr.size]="pgConfig.size"
        [attr.color]="pgConfig.color"
        [attr.variant]="pgConfig.variant"
        [attr.elevation]="pgConfig.elevation"
        [attr.thumb-shape]="pgConfig.thumbShape"
        [attr.label]="pgConfig.label"
        [attr.helper-text]="pgConfig.helperText"
        [attr.label-position]="pgConfig.labelPosition"
        [attr.show-icons]="pgConfig.showIcons ? '' : null"
        [attr.disabled]="pgConfig.disabled ? '' : null"
        [attr.readonly]="pgConfig.readonly ? '' : null"
        [attr.required]="pgConfig.required ? '' : null"
        [attr.invalid]="pgConfig.invalid ? '' : null"
        [attr.enable-animation]="pgConfig.animation ? '' : null"
        [attr.show-skeleton]="pgConfig.skeleton ? '' : null"
        [attr.orientation]="pgConfig.orientation"
        (toggleGroupChange)="onToggleChange($event)"
      ></app-toggle-group>
    </div>
  </div>

  <pg-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></pg-playground-event-log>
</pg-playground>
