.carousel-layout-section {
  padding: 16px;
}
.carousel-layout-checkbox-grid {
  margin-top: 16px;
}
.carousel-animation-section {
  padding: 16px;
}
.carousel-animation-checkbox-grid {
  margin-top: 16px;
}
@use '../../../../styles/playground-base.scss';
