<pg-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-type" class="control-grid p-16">
    <div class="control-group">
      <label>Chart Type</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.chartType"
        (ngModelChange)="updateConfig()"
        [options]="typeOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group">
      <label>Dataset</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.dataset"
        (ngModelChange)="onDatasetChange()"
        [options]="datasetOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group" *ngIf="pgConfig.chartType === 'doughnut'">
      <label>Cutout %</label>
      <ui-input
        type="range"
        min="30"
        max="80"
        step="5"
        [(ngModel)]="pgConfig.cutout"
        (ngModelChange)="updateConfig()"
      ></ui-input>
      <span class="fs-08rem text-muted">{{ pgConfig.cutout }}%</span>
    </div>
  </div>

  <div slot="content-appearance" class="control-grid p-16">
    <div class="control-group">
      <label>Legend Position</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.legendPosition"
        (ngModelChange)="updateConfig()"
        [options]="legendPositionOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group">
      <label>Border Width</label>
      <ui-input
        type="range"
        min="0"
        max="6"
        step="1"
        [(ngModel)]="pgConfig.borderWidth"
        (ngModelChange)="updateConfig()"
      ></ui-input>
      <span class="fs-08rem text-muted">{{ pgConfig.borderWidth }}px</span>
    </div>
  </div>

  <div slot="content-features" class="control-grid p-16">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.showLegend"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Show Legend
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.responsive"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Responsive
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.enableAnimation"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Animate on Load
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.showTooltip"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Show Tooltip
      </label>
    </div>
  </div>

  <div preview class="chart-preview-wrapper w-full display-flex justify-center p-40">
    <div class="pie-preview-wrapper w-full max-w-480">
      <app-chart
        [chartType]="pgConfig.chartType"
        [showLegend]="pgConfig.showLegend"
        [legendPosition]="pgConfig.legendPosition"
        [responsive]="pgConfig.responsive"
        [data]="activeChartData"
        [options]="activeOptions"
        class="w-full h-360 m-0-auto display-block"
      ></app-chart>
    </div>
  </div>

  <pg-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></pg-playground-event-log>
</pg-playground>
