@SET:registry=https://global-artifacts.se.com/artifactory/api/npm/ia-setsw-npm-dev-virtual/
@se:registry=https://global-artifacts.se.com/artifactory/api/npm/qds-npm-prod-global
@quartzds:registry=https://global-artifacts.se.com/artifactory/api/npm/qds-npm-prod-global
@se-set:registry=https://global-artifacts.se.com/artifactory/api/npm/ia-dsi-npm-prod-federated/               
always-auth=true