<pg-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-core" class="control-grid p-16">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.searchable"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Searchable
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.sortable" (ngModelChange)="updateConfig()"></ui-checkbox>
        Sortable
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.filterable"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Filterable
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.stickyHeader"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Sticky Header
      </label>
    </div>
    <div class="control-group mt-16">
      <label>Empty Message</label>
      <ui-input
        type="text"
        [(ngModel)]="pgConfig.emptyMessage"
        (ngModelChange)="updateConfig()"
      ></ui-input>
    </div>
  </div>

  <div slot="content-selection" class="control-grid p-16">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.selectable"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Selectable
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.multiSelect"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Multi-Select
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.rangeSelection"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Range Selection
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.editable" (ngModelChange)="updateConfig()"></ui-checkbox>
        Editable
      </label>
    </div>
  </div>

  <div slot="content-pagination" class="control-grid p-16">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.pagination"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Enable Pagination
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.paginationSticky"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Sticky Pagination
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.paginationAutoHide"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Auto-Hide
      </label>
    </div>
    <div class="control-grid-2">
      <div class="control-group">
        <label>Page Size</label>
        <ui-input
          type="number"
          [(ngModel)]="pgConfig.pageSize"
          (ngModelChange)="updateConfig()"
        ></ui-input>
      </div>
      <div class="control-group">
        <label>Theme</label>
        <ui-dropdown
          [(ngModel)]="pgConfig.paginationTheme"
          [options]="paginationThemeOptions"
          (ngModelChange)="updateConfig()"
        ></ui-dropdown>
      </div>
      <div class="control-group">
        <label>Shape</label>
        <ui-dropdown
          [(ngModel)]="pgConfig.paginationShape"
          [options]="paginationShapeOptions"
          (ngModelChange)="updateConfig()"
        ></ui-dropdown>
      </div>
    </div>
  </div>

  <div slot="content-layout" class="control-grid p-16">
    <div class="control-grid-2">
      <div class="control-group">
        <label>Row Height</label>
        <ui-dropdown
          [(ngModel)]="pgConfig.rowHeight"
          [options]="rowHeightOptions"
          (ngModelChange)="updateConfig()"
        ></ui-dropdown>
      </div>
      <div class="control-group">
        <label>Theme Mode</label>
        <ui-dropdown
          [(ngModel)]="pgConfig.theme"
          [options]="themeOptions"
          (ngModelChange)="updateConfig()"
        ></ui-dropdown>
      </div>
    </div>
    <div class="checkbox-grid mt-16">
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.striped" (ngModelChange)="updateConfig()"></ui-checkbox>
        Striped
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.bordered" (ngModelChange)="updateConfig()"></ui-checkbox>
        Bordered
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.hoverable"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Hoverable
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.loading" (ngModelChange)="updateConfig()"></ui-checkbox>
        Loading State
      </label>
    </div>
  </div>

  <div slot="content-advanced" class="control-grid p-16">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.virtualScroll"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Virtual Scroll
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.columnPinning"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Col Pinning
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.rowPinning"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Row Pinning
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.columnAggregation"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Aggregation
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.undoRedo"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Undo/Redo
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.rangeSelection"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Range Select
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.copyPaste"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Copy/Paste
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.conditionalFormatting"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Condit. Format
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.exportable"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Exportable
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.excelExport"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Excel Export
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.pdfExport"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        PDF Export
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.rowDetails"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Row Details
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.showActions"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Show Actions
      </label>
    </div>
  </div>

  <div slot="content-grouping" class="control-grid p-16">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.grouping" (ngModelChange)="updateConfig()"></ui-checkbox>
        Enable Grouping
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.treeData" (ngModelChange)="updateConfig()"></ui-checkbox>
        Tree Data
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.showGroupingControls"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Grouping UI
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.columnGrouping"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Col Grouping
      </label>
    </div>
  </div>

  <div slot="content-json" class="control-grid p-16">
    <div class="control-group">
      <label>JSON Data</label>
      <textarea
        class="json-editor"
        [(ngModel)]="dataJson"
        (ngModelChange)="onDataJsonChange()"
        spellcheck="false"
      ></textarea>
    </div>
    <div class="control-group mt-16">
      <label>JSON Columns</label>
      <textarea
        class="json-editor"
        [(ngModel)]="columnsJson"
        (ngModelChange)="onColumnsJsonChange()"
        spellcheck="false"
      ></textarea>
    </div>
  </div>

  <div
    preview
    class="preview-stage h-scrollable w-full display-flex justify-center items-center p-40"
  >
    <div class="table-container w-full" >
      <ui-advanced-data-table
        #demoElement
        [attr.data]="dataJson"
        [attr.columns]="columnsJson"
        [attr.selectable]="pgConfig.selectable ? '' : null"
        [attr.multi-select]="pgConfig.multiSelect"
        [attr.editable]="pgConfig.editable ? '' : null"
        [attr.sticky-header]="pgConfig.stickyHeader"
        [attr.pagination]="pgConfig.pagination"
        [attr.page-size]="pgConfig.pageSize"
        [attr.pagination-theme]="pgConfig.paginationTheme"
        [attr.pagination-shape]="pgConfig.paginationShape"
        [attr.pagination-sticky]="pgConfig.paginationSticky"
        [attr.virtual-scroll]="pgConfig.virtualScroll ? '' : null"
        [attr.virtual-row-height]="pgConfig.virtualRowHeight"
        [attr.searchable]="pgConfig.searchable"
        [attr.sortable]="pgConfig.sortable"
        [attr.filterable]="pgConfig.filterable"
        [attr.row-height]="pgConfig.rowHeight"
        [attr.striped]="pgConfig.striped"
        [attr.hoverable]="pgConfig.hoverable"
        [attr.bordered]="pgConfig.bordered"
        [attr.loading]="pgConfig.loading ? '' : null"
        [attr.show-skeleton]="pgConfig.showSkeleton"
        [attr.skeleton-rows]="pgConfig.skeletonRows"
        [attr.empty-message]="pgConfig.emptyMessage"
        [attr.theme]="pgConfig.theme"
        [attr.grouping]="pgConfig.grouping ? '' : null"
        [attr.tree-data]="pgConfig.treeData ? '' : null"
        [attr.column-pinning]="pgConfig.columnPinning"
        [attr.row-pinning]="pgConfig.rowPinning"
        [attr.multi-filter]="pgConfig.multiFilter"
        [attr.show-filter-panel]="pgConfig.advancedFilters"
        [attr.exportable]="pgConfig.exportable"
        [attr.excel-export]="pgConfig.excelExport"
        [attr.pdf-export]="pgConfig.pdfExport"
        [attr.row-details]="pgConfig.rowDetails"
        [attr.show-grouping-controls]="pgConfig.showGroupingControls"
        [attr.show-actions]="pgConfig.showActions"
        [attr.column-reorder]="pgConfig.columnReorder"
        [attr.column-visibility]="pgConfig.columnVisibility"
        [attr.range-selection]="pgConfig.rangeSelection"
        [attr.copy-paste]="pgConfig.copyPaste"
        [attr.conditional-formatting]="pgConfig.conditionalFormatting"
        [attr.undo-redo]="pgConfig.undoRedo"
        [attr.column-aggregation]="pgConfig.columnAggregation"
        [attr.icon-library]="pgConfig.iconLibrary"
        (rowSelect)="onRowSelect($event)"
        (cellEdit)="onCellEdit($event)"
        (sortChange)="onSortChange($event)"
        (pageChange)="onPageChange($event)"
        (searchChange)="onSearchChange($event)"
      ></ui-advanced-data-table>
    </div>
  </div>

  <pg-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></pg-playground-event-log>
</pg-playground>
