@use '../../../styles/demo-base.scss';

.demo-card {
  &.mt-4 {
    margin-top: 24px;
  }
}

.preview-box {
  min-height: 200px;
  overflow: auto;

  &.h-auto {
    min-height: auto;
    max-height: 400px;
  }
}
