.demo-grid {
    &.col-2 {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.demo-card {
  .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
  }

  h3 {
     font-size: 1.1rem;
     font-weight: 600;
     color: var(--text-primary);
     display: flex;
     align-items: center;
     gap: 10px;
     margin: 0;
  }
  
  .badge {
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 4px 8px;
      border-radius: 4px;
      background: var(--bg-secondary);
      color: var(--text-secondary);
  }
  
  .desc {
      color: var(--text-secondary);
      font-size: 0.9rem;
  }
}

