/* Progress Specific Styles - Building on Docs Premium Shared Styles */
@import '../../../docs-premium.scss';

@keyframes progress-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes indeterminate {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}
