@use '../../../../styles/playground-base.scss';

.sparkline-width-label,
.sparkline-height-label,
.sparkline-stroke-label {
  font-size: 0.8rem;
  color: var(--text-secondary);
}
.sparkline-preview {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sparkline-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.sparkline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.sparkline-svg {
  display: block;
  overflow: visible;
}

.chart-preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 16px;
}
