@use '../../../styles/demo-base.scss';

.preview-box {
  &.glass-bg {
    background: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?auto=format&fit=crop&w=600&q=80')
      center;
    background-size: cover;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 12px;
    }

    app-empty-state {
      width: 90%;
      z-index: 10;
    }
  }
}
