.smart-stepper-global-section,
.smart-stepper-appearance-section,
.smart-stepper-behavior-section {
  padding: 16px;
}

.smart-stepper-preview {
  padding: 32px;
  min-height: 400px;
  background: #fff;
  border-radius: 8px;
}
