@use '../../../../../styles/playground-base.scss';

.playground-preview {
  min-height: 200px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  background: white;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
