<pg-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-global" class="control-grid" style="padding: 16px">
    <div class="control-grid">
      <div class="control-group">
        <label>Label</label>
        <ui-input
          type="text"
          [(ngModel)]="pgConfig.label"
          (ngModelChange)="updateConfig()"
        ></ui-input>
      </div>
      <div class="control-group">
        <label>Icon (Home/Save/etc)</label>
        <ui-input
          type="text"
          [(ngModel)]="pgConfig.icon"
          (ngModelChange)="updateConfig()"
        ></ui-input>
      </div>
      <div class="control-group">
        <label>Variant</label>
        <ui-dropdown
          [(ngModel)]="pgConfig.variant"
          (ngModelChange)="updateConfig()"
          [options]="variantOptions"
        ></ui-dropdown>
      </div>
      <div class="control-group">
        <label>Size</label>
        <ui-dropdown
          [(ngModel)]="pgConfig.size"
          (ngModelChange)="updateConfig()"
          [options]="standardSizeOptions"
        ></ui-dropdown>
      </div>
    </div>
    <div class="checkbox-grid" style="margin-top: 16px">
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.disabled" (ngModelChange)="updateConfig()" /> Disabled
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.loading" (ngModelChange)="updateConfig()" /> Loading
      </label>
    </div>
  </div>

  <div
    preview
    style="
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    "
  >
    <ui-split-button
      [attr.label]="pgConfig.label"
      [attr.icon]="pgConfig.icon"
      [attr.variant]="pgConfig.variant"
      [attr.size]="pgConfig.size"
      [attr.disabled]="pgConfig.disabled ? '' : null"
      [attr.loading]="pgConfig.loading ? '' : null"
      [model]="menuItems"
      (uiClick)="onPrimaryClick()"
    ></ui-split-button>
  </div>

  <pg-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></pg-playground-event-log>
</pg-playground>
