<pg-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-global" class="control-grid p-16">
    <div class="control-grid">
      <div class="control-group">
        <label>Label</label>
        <dui-input
          type="text"
          [(ngModel)]="pgConfig.label"
          (ngModelChange)="updateConfig()"
        ></dui-input>
      </div>
      <div class="control-group">
        <label>Icon (Home/Save/etc)</label>
        <dui-input
          type="text"
          [(ngModel)]="pgConfig.icon"
          (ngModelChange)="updateConfig()"
        ></dui-input>
      </div>
      <div class="control-group">
        <label>Variant</label>
        <dui-dropdown
          [(ngModel)]="pgConfig.variant"
          (ngModelChange)="updateConfig()"
          [options]="variantOptions"
        ></dui-dropdown>
      </div>
      <div class="control-group">
        <label>Size</label>
        <dui-dropdown
          [(ngModel)]="pgConfig.size"
          (ngModelChange)="updateConfig()"
          [options]="standardSizeOptions"
        ></dui-dropdown>
      </div>
    </div>
    <div class="checkbox-grid mt-16">
      <label class="checkbox-item">
        <dui-checkbox [(ngModel)]="pgConfig.disabled" (ngModelChange)="updateConfig()" /> Disabled
      </label>
      <label class="checkbox-item">
        <dui-checkbox [(ngModel)]="pgConfig.loading" (ngModelChange)="updateConfig()" /> Loading
      </label>
    </div>
  </div>

  <div preview class="w-full display-flex flex-col justify-center items-center p-40">
    <dui-split-button
      [attr.label]="pgConfig.label"
      [attr.icon]="pgConfig.icon"
      [attr.variant]="pgConfig.variant"
      [attr.size]="pgConfig.size"
      [attr.disabled]="pgConfig.disabled ? '' : null"
      [attr.loading]="pgConfig.loading ? '' : null"
      [model]="menuItems"
      (uiClick)="onPrimaryClick()"
    ></dui-split-button>
  </div>

  <pg-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></pg-playground-event-log>
</pg-playground>
