<app-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-global" class="control-grid" style="padding: 16px">
    <div class="control-group">
      <label>Label</label>
      <ui-input
        type="text"
        [(ngModel)]="pgConfig.label"
        (ngModelChange)="updateConfig()"
      ></ui-input>
    </div>
    <div class="control-group">
      <label>Variant</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.variant"
        (ngModelChange)="updateConfig()"
        [options]="variantOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group">
      <label>Size</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.size"
        (ngModelChange)="updateConfig()"
        [options]="sizeOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group">
      <label>Shape</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.shape"
        (ngModelChange)="updateConfig()"
        [options]="shapeOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group">
      <label>Label Position</label>
      <ui-dropdown
        [(ngModel)]="pgConfig.labelPosition"
        (ngModelChange)="updateConfig()"
        [options]="labelPositionOptions"
      ></ui-dropdown>
    </div>
    <div class="control-group">
      <label>Icon On</label>
      <ui-input
        type="text"
        [(ngModel)]="pgConfig.iconOn"
        (ngModelChange)="updateConfig()"
      ></ui-input>
    </div>
    <div class="control-group">
      <label>Icon Off</label>
      <ui-input
        type="text"
        [(ngModel)]="pgConfig.iconOff"
        (ngModelChange)="updateConfig()"
      ></ui-input>
    </div>
  </div>

  <div slot="content-states" style="padding: 16px">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.checked" (ngModelChange)="updateConfig()"></ui-checkbox>
        Checked
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.disabled" (ngModelChange)="updateConfig()"></ui-checkbox>
        Disabled
      </label>
      <label class="checkbox-item">
        <ui-checkbox [(ngModel)]="pgConfig.loading" (ngModelChange)="updateConfig()"></ui-checkbox>
        Loading
      </label>
      <label class="checkbox-item">
        <ui-checkbox
          [(ngModel)]="pgConfig.showDefaultIcons"
          (ngModelChange)="updateConfig()"
        ></ui-checkbox>
        Default Icons
      </label>
    </div>
  </div>

  <div preview class="preview-stage">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center">
      <ui-switch
        #demoElement
        [attr.label]="pgConfig.label"
        [attr.checked]="pgConfig.checked ? '' : null"
        [attr.disabled]="pgConfig.disabled ? '' : null"
        [attr.loading]="pgConfig.loading ? '' : null"
        [attr.size]="pgConfig.size"
        [attr.variant]="pgConfig.variant"
        [attr.shape]="pgConfig.shape"
        [attr.label-position]="pgConfig.labelPosition"
        [attr.icon-on]="pgConfig.iconOn || null"
        [attr.icon-off]="pgConfig.iconOff || null"
        [attr.show-default-icons]="pgConfig.showDefaultIcons ? '' : null"
        (switchChange)="onSwitchChange($event)"
      ></ui-switch>
    </div>
  </div>

  <app-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></app-playground-event-log>
</app-playground>
