.demo-card {
  &.full-width {
      width: 100%;
  }
}


.carousel-wrapper {
    height: 300px;
    width: 100%;
    
    app-carousel {
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
        background: black;
    }
    
    .slide {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        
        .content {
            text-align: center;
        }
        
        &.card-slide {
            margin: 0 10px;
            height: 90%;
            border-radius: 8px;
        }
        
        &.item-slide {
           background: #475569;
           border: 1px solid #64748b;
           margin: 0 5px;
           height: 90%;
           border-radius: 6px;
        }
    }
}
