@use '../../../../../styles/playground-base.scss';

.playground-preview {
  min-height: 250px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: visible; /* High importance for dropdowns */
  background: white;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}
