@use '../../../../../styles/playground-base.scss';

.playground-preview {
  .preview-stage {
    min-height: 400px;
    padding: 40px;

    .toggle-container {
      width: 100%;
      max-width: 600px;
    }
  }
}