.demo-grid {
  &.col-2 {
      grid-template-columns: repeat(2, 1fr);
  }
}

.demo-card {
  &.full-width {
      grid-column: 1 / -1;
  }
}

.preview-box {
  background: rgba(var(--bg-secondary-rgb), 0.3);
  min-height: 200px;
  display: flex;
  
  &.h-auto {
      min-height: auto;
      max-height: 600px;
      overflow: auto;
  }
}

