<div class="demo-page-container">
  <div class="demo-master-container">
    <ui-tabs
      [items]="tabItems"
      [defaultActive]="active()"
      (tabChange)="onTabChange($event)"
      (tabEdit)="handleTabEdit($event)"
      (tabOpenPanel)="handleTabOpenPanel($event)"
      (tabDelete)="handleTabDelete($event)"
      variant="line"
      orientation="horizontal"
      icon-library="lucide"
      show-tab-list="true"
    >
      <ng-content select="[slot=playground]"></ng-content>
      <ng-content select="[slot=examples]"></ng-content>
      <ng-content select="[slot=docs]"></ng-content>
    </ui-tabs>
  </div>
</div>
