<pg-playground
  [items]="pgAccordionItems"
  [defaultOpen]="accordionDefaultOpen"
  [code]="generatedCode()"
  (reset)="resetConfig()"
>
  <div slot="content-content" class="control-grid pg-panel-container">
    <div class="control-group">
      <label>Label</label>
      <dui-input
        type="text"
        [(ngModel)]="pgConfig.label"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>
    <div class="control-group">
      <label>Counter</label>
      <dui-input
        type="text"
        [(ngModel)]="pgConfig.counter"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>
    <div class="control-group">
      <label>Icon Name</label>
      <dui-input
        type="text"
        [(ngModel)]="pgConfig.icon"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>
    <div class="control-group">
      <label>Avatar URL</label>
      <dui-input
        type="text"
        [(ngModel)]="pgConfig.avatar"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>
    <div class="control-group">
      <label>Tooltip</label>
      <dui-input
        type="text"
        [(ngModel)]="pgConfig.tooltip"
        (ngModelChange)="updateConfig()"
      ></dui-input>
    </div>
  </div>

  <div slot="content-visuals" class="control-grid pg-panel-container">
    <div class="control-group">
      <label>Variant</label>
      <dui-dropdown
        [(ngModel)]="pgConfig.variant"
        (ngModelChange)="updateConfig()"
        [options]="variantOptions"
      ></dui-dropdown>
    </div>
    <div class="control-group">
      <label>Color</label>
      <dui-dropdown
        [(ngModel)]="pgConfig.color"
        (ngModelChange)="updateConfig()"
        [options]="standardColorOptions"
      ></dui-dropdown>
    </div>
    <div class="control-group">
      <label>Size</label>
      <dui-dropdown
        [(ngModel)]="pgConfig.size"
        (ngModelChange)="updateConfig()"
        [options]="standardSizeOptions"
      ></dui-dropdown>
    </div>
    <div class="control-group">
      <label>Orientation</label>
      <dui-dropdown
        [(ngModel)]="pgConfig.orientation"
        (ngModelChange)="updateConfig()"
        [options]="orientationOptions"
      ></dui-dropdown>
    </div>
    <div class="control-group" *ngIf="pgConfig.variant === 'gradient'">
      <label>Gradient</label>
      <dui-dropdown
        [(ngModel)]="pgConfig.gradient"
        (ngModelChange)="updateConfig()"
        [options]="gradientOptions"
      ></dui-dropdown>
    </div>
    <div class="control-group">
      <label>Animation</label>
      <dui-dropdown
        [(ngModel)]="pgConfig.animation"
        (ngModelChange)="updateConfig()"
        [options]="animationOptions"
      ></dui-dropdown>
    </div>
  </div>

  <div slot="content-behavior" class="control-grid pg-panel-container">
    <div class="checkbox-grid">
      <label class="checkbox-item">
        <dui-checkbox
          [(ngModel)]="pgConfig.clickable"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Clickable
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          [(ngModel)]="pgConfig.removable"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Removable
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          [(ngModel)]="pgConfig.selected"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Selected
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          [(ngModel)]="pgConfig.loading"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Loading
      </label>
      <label class="checkbox-item">
        <dui-checkbox
          [(ngModel)]="pgConfig.disabled"
          (ngModelChange)="updateConfig()"
        ></dui-checkbox>
        Disabled
      </label>
    </div>
  </div>

  <div preview class="preview-stage flex-center p-60">
    <dui-pill
      [attr.label]="pgConfig.label"
      [attr.variant]="pgConfig.variant"
      [attr.color]="pgConfig.color"
      [attr.size]="pgConfig.size"
      [attr.orientation]="pgConfig.orientation"
      [attr.selected]="pgConfig.selected ? '' : null"
      [attr.removable]="pgConfig.removable ? '' : null"
      [attr.clickable]="pgConfig.clickable ? '' : null"
      [attr.loading]="pgConfig.loading ? '' : null"
      [attr.disabled]="pgConfig.disabled ? '' : null"
      [attr.counter]="pgConfig.counter"
      [attr.icon]="pgConfig.icon"
      [attr.icon-library]="pgConfig.iconLibrary"
      [attr.icon-position]="pgConfig.iconPosition"
      [attr.avatar]="pgConfig.avatar"
      [attr.tooltip]="pgConfig.tooltip"
      [attr.animation]="pgConfig.animation"
      [attr.gradient]="pgConfig.gradient"
      (pillClick)="onPillClick()"
      (pillRemove)="onPillRemove()"
      (pillSelect)="onPillSelect($event)"
    ></dui-pill>
  </div>

  <pg-playground-event-log
    events
    [logs]="eventLog()"
    (clear)="eventLog.set([])"
  ></pg-playground-event-log>
</pg-playground>
