@use '../../../../styles/playground-base.scss';

.preview-stage {
  height: 400px;
  overflow: hidden;
  position: relative;

  &.h-scrollable {
    overflow-y: auto;
  }

  .scroll-filler {
    padding: 24px;
    height: 1200px;
    background: linear-gradient(180deg, var(--bg-secondary) 0%, var(--surface-1) 100%);

    h3 {
      margin-top: 0;
      color: var(--text-primary);
    }

    p {
      color: var(--text-secondary);
      margin: 40px 0;
    }
  }
}
