@use '../../../../../styles/playground-base.scss';

.scroll-content {
  flex: 1;
  height: 400px;
  overflow-y: auto;
  padding: 32px;
  scroll-behavior: smooth;

  section {
    margin-bottom: 300px;

    &:last-child {
      margin-bottom: 50px;
    }
  }
}

.anchor-nav {
  width: 200px;
  border-left: 1px solid var(--border-color);
  padding: 24px 16px;
  background: #f8fafc;
}
